/* *********** Global Styles **************** */
:root {
  --blue: #3d64d9;
  --bodyBackground: #f0f0f0;
  --whiteText: #ffffff;
  --modalButtonBlue: #140D4F;
}

* {
  font-family: 'Roboto', sans-serif;
  line-height: 1.8;
  margin: 0;
  padding: 0;
  border: 0;
	font-size: 100%;
}
html, body {
  background-color: var(--bodyBackground); /* #EBEBEA #d4ddf6 */
  width: 100vw; /* resets */
  height: 100vh;
}

.headlines {
  font-family: 'Palanquin Dark', sans-serif;
  font-size: 3em;
}

a {
  color: var(--whiteText);
}
/* ******************************************* */
/* ************* Header Styles *************** */
header {
  top: 0;
  display: flex;
  justify-content: space-between;
  position: fixed;
  height: 100px;
  width: 100%;
  border-bottom: 2px solid black;
  background-color: var(--blue);
}

.headerLogo {
  height: 75%;
  padding: 1%;
}

nav {
  display: flex;
  align-items: center;
  padding-right: 5%;
}

.navLinks {
  padding: 1.5rem;
  color: var(--whiteText);
  text-decoration: none;
  font-size: 1.25rem;
}

a:hover, a:active {
  background-color: var(--whiteText);
  color: var(--blue);
  text-decoration: underline;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

/* *************************************************** */
/* ****************** Hero Div Styles **************** */
.hero {
  display: flex;
  margin-top: 100px;
}

/* .heroimg {
  width: 90%;
} */

#heroImgWrap {
  width: 100%;
  background: url("./images/NCA2.png");
  box-shadow:inset 0 0 0 2000px  rgba(70, 70, 70, 0.8);/*rgba(204, 204, 204, 0.8); */
  background-repeat: no-repeat;
  background-size: cover;
}

#heroText {
  padding: 5% 20%;
  font-size: 1.2rem;
  color: var(--whiteText);
  text-align: center;
}
/* #heroHeadline {
  padding: 6% 0 0;
  text-align: center;
  color: #e3e3e3;
} */

/* #heroLogo {
  width: 30%;
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
    display: flex;
} */

/* *************************QUOTE STYLING****************************** */
/* ***************** About Styles ********************* */
/*main {
  padding-left: 5%;
}
 #about {
  padding: 1% 15%;
}
#aboutText {
  width: 90%;
} */
.meaning {
  display: flex;
    /* align-content: inherit; */
    font-family: 'Marcellus SC', serif;
    justify-content: center;
    font-size: 1.5rem;
    margin: 2% 15% 3%;
    padding: 4%;
    /* border-style: solid none;
    border-color: black;
    border-width: 5px; */
    border-left: 10px solid var(--blue);
    /* background-color: lightgray; */
    background: url('./images/meaningBkgrd.png');
    background-repeat: no-repeat;
    background-size: cover;
}


/* ************ Solutions Div Styles ********************** */
#solHeadline {
  text-align: center;
  color: var(--blue);
}
.solutions {
  display: flex;
  padding-top: 5%;
  /* width: fit-content; */
}

/* .solutionsImg {
  padding: 5% 3% 0 0;
} */
/* .booksImg {
  width: 100%;
  /* padding-right: 3%; */
  /* display: block;*/
  /*box-shadow: 7px 7px 10px #888888;

} */
.mission, .coreValues, .vision {
  text-align: center;
  width: 30%;
  padding: 2%;
}
.missionPic, .coreValuesPic, .visionPic{
  width: 50%;
}

.noShow{
  display: none;
}
em {
  text-decoration: underline;
}
b {
  font-size: 1.3rem;
  color: var(--blue);
}
.consice {
  font-weight: 800;
  font-size: 1.1rem;
}
/*//////////////////LEADERSHIP PAGE STYLING////////////////////////*/
#drewHeadline {
  margin-top: 150px;
  text-align: center;
  color: var(--blue);
}
.info {
  font-size: 1.1rem;
}
.disclaimer {
  font-size: .75rem;
  text-align: right;
}
.headshot {
 /* display: flex; */
 padding: 3% 10%;
 width: fit-content;
 background-color: #e0e0e0; /*#e6e6e6;*/
}

.headshotImg {
 /* width: 100%; */
 float: left;
 padding-right: 3%;
 margin-top: -3.5%
 /* shape-outside: circle() */
 /* box-shadow: 7px 7px 10px #888888; */
}
.headImg {
  border-radius: 50%;
}
.name {
  text-align: center;
}
.location{
  padding: 3% 6% 0 2%;
  width: 50%;
}
.location h2 {
  font-size: 1.8rem;
  color: var(--blue);
}

.inspiration {
display: flex;
justify-content: flex-end;
/* padding: 3% 5% 0; */
width: 100%;
margin-bottom: 3%;
}
.inspirationImg {
  /* width: 20%; */
  height: 400px;
  width: 400px;
  margin-right: 2%;
}
.quoteBox {
  width: 35%;
  padding-right: 2%;
  text-align: right;
}
.quote {
  font-family: 'Marcellus SC', serif;
  font-size: 2rem;
  line-height: 1.5;
}
#msl {
  padding-top: 15%;
}
/*/////////////////////////////////// MODAL STYLING ////////////////////////////////////*/
/*--------- styling of entire modal -----------*/
 .modal {
  font-family: Arial, sans-serif;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none; /*keeps modal hidden until button click*/
}
/*-------- styles and holds populated divs --------- */
.modal-textbox {
  background: rgba(60, 102, 225, 1.0);
  /* height: 65%; */
  width: 50%;
  border-radius: 10px;
  margin: 5% auto;
  box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.4);
  padding: 2%;
  line-height: 110%;
  text-align: center;
  line-height: 25px;
}
/*------- close button ------*/
.modal-footer {
  width: 5%;
  top: 0;
  float: right;
}
.form-div{

}
.modal-info {

}
.modal-headline {
  font-size: 1.75em;
  font-weight: 900;
  color: var(--whiteText); /*var(--modalButtonBlue)*/
  text-align: center;
}
/*------- styling of both buttons -------*/
.modal-btns {
 padding: 6px 10px;
 background-color: var(--modalButtonBlue);
 border: none;
 outline: none;
 border-radius: 5px;
 color: var(--whiteText);
}
/* ---------- styling of text/input fileds -------- */
#name, #email {
  padding: 1%;
  font-size: 16px;
  border-radius: 7px;
  width: 70%;
  height: 1.5rem;
}
#email{
  margin-top: 5%;
}

.modalInst {
  color: var(--whiteText);
  margin-top: 10%;
  display: none;
}
#help {
  color: var(--whiteText);
  margin-top: 10%;
}
.textarea {
  margin-top: 1%;
  resize: none;
  font-size: 16px;
  border-radius: 7px;
  width: 75%;
  height: 150px;
  padding: 2%;
}
#submit {
  width: 50%;
  margin-top: 3%;
}

.modal-phone {
  font-size: 1.25rem;
  color: var(--whiteText);
  padding: 5% 0;
}
/*///////////////////////////// END OF MODAL STYLING ///////////////*/
/* ///////////FOOTER STYILING ////////////// */
footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: var(--whiteText);
  background-color: var(--blue);
  padding: 2% 0;
  /* direction: ltr; */
}
.copy{
margin-right: 2%;
align-self: flex-end; /*sticks date at bottom*/
font-size: small;
text-align: right;
}

#icons {
  display: flex;
  /* justify-content: flex-end; */
  font-size: 3rem;
  color: var(--whiteText);
  /* margin-right: 2%;*/
  width: 50%;
}
.footerIcon {
  padding: 0 10%;
}
.footerIcon:hover {
  color: var(--whiteText);
  background-color: var(--blue);
  box-shadow: none;
}


/* //////////////////////////////////////////////////// */
/* /////////////////MEDIA QUERIES////////////////////// */
@media only screen and (max-width: 600px) {
  header {
    display: block;
    height: auto;
    text-align: center;
    padding: 3% 0 3%;
  }

  .headerLogo {
    padding: 0;
    width: 30%;
  }

  nav {
    justify-content: center;
    margin: 0 auto;
    padding: 0;
  }

  .navLinks {
    padding: 0 1rem;
    font-size: 1.5rem;
  }

  #heroImgWrap {
    width: 100%;
  }
  #heroLogo {
    display: none;
  }
  .hero {
    margin-top: 105px;
  }
  .solutions {
    padding: 1% 5%;
  }
  .solutionsImg {
    display: none;
  }
  footer {
    display: block;
    padding: 10% 0 5%;
  }
  #icons {
    justify-content: center;
    width: 100%;
  }
  .footerIcon {
    padding: 0 6%;
}
  .copy {
    text-align: center;
    justify-content: center;
    padding-top: 5%;
  }
  .deets{
    margin-right: 2%;
  }
  .headshot {
    display: block;
    margin-bottom: 5%;
  }
  .headshotImg {
    text-align: center;
    float: none;
  }
  .drewInfo {
    margin-top: 10%;
  }
  .inspiration {
    /* display: block; */
    flex-flow: column-reverse;
    width: 90%;
    margin: 0 auto;
  }
  .location {
    width: 100%;
    text-align: center;
    padding: 2% 0 2%;
  }
  .quoteBox {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  #msl {
    padding-top: 3%;
  }
  .inspirationImg {
    margin: 0 auto;
    align-self: center;
  }
  .name {
    margin-bottom: 5%;
  }
  /* *******MOBILE MODAL********* */
  .modal-textbox {
    /* height: 50%; */
    width: 80%;
    margin: 30% auto;
  }
  .modal-footer {
    margin-right: 2%;
  }
}
